.wrapper.style6 {
			background-color: #ffffff;
			color: #4E4852;
		}

			.wrapper.style6 strong, .wrapper.style6 b {
				color: #2E3842;
			}

			.wrapper.style6 h2, .wrapper.style6 h3, .wrapper.style6 h4, .wrapper.style6 h5, .wrapper.style6 h6 {
				color: #2E3842;
			}

			.wrapper.style6 hr {
				border-color: #dfdfdf;
			}

			.wrapper.style6 blockquote {
				border-color: #dfdfdf;
			}

			.wrapper.style6 code {
				background: rgba(0, 0, 0, 0.0375);
			}

			.wrapper.style6 header p {
				color: #8E8892;
			}

			.wrapper.style6 header.major h2, .wrapper.style6 header.major h3, .wrapper.style6 header.major h4, .wrapper.style6 header.major h5, .wrapper.style6 header.major h6 {
				border-color: #dfdfdf;
			}

			.wrapper.style6 header.major p {
				color: #4E4852;
			}

			.wrapper.style6 label {
				color: #2E3842;
			}

			.wrapper.style6 input[type="text"],
			.wrapper.style6 input[type="password"],
			.wrapper.style6 input[type="email"],
			.wrapper.style6 select,
			.wrapper.style6 textarea {
				background-color: rgba(0, 0, 0, 0.0375);
			}

			.wrapper.style6 select {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dfdfdf' /%3E%3C/svg%3E");
			}

				.wrapper.style6 select option {
					color: #2E3842;
					background: #ffffff;
				}

			.wrapper.style6 input[type="checkbox"] + label,
			.wrapper.style6 input[type="radio"] + label {
				color: #4E4852;
			}

				.wrapper.style6 input[type="checkbox"] + label:before,
				.wrapper.style6 input[type="radio"] + label:before {
					background: rgba(0, 0, 0, 0.0375);
				}

			.wrapper.style6 input[type="checkbox"]:checked + label:before,
			.wrapper.style6 input[type="radio"]:checked + label:before {
				background: #2E3842;
				color: #ffffff;
			}

			.wrapper.style6 ::-webkit-input-placeholder {
				color: #8E8892 !important;
			}

			.wrapper.style6 :-moz-placeholder {
				color: #8E8892 !important;
			}

			.wrapper.style6 ::-moz-placeholder {
				color: #8E8892 !important;
			}

			.wrapper.style6 :-ms-input-placeholder {
				color: #8E8892 !important;
			}

			.wrapper.style6 .formerize-placeholder {
				color: #8E8892 !important;
			}

			.wrapper.style6 .icon.major {
				border-color: #dfdfdf;
			}

			.wrapper.style6 ul.alt li {
				border-color: #dfdfdf;
			}

			.wrapper.style6 table tbody tr {
				border-color: #dfdfdf;
			}

				.wrapper.style6 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(0, 0, 0, 0.0375);
				}

			.wrapper.style6 table th {
				color: #2E3842;
			}

			.wrapper.style6 table thead {
				border-color: #dfdfdf;
			}

			.wrapper.style6 table tfoot {
				border-color: #dfdfdf;
			}

			.wrapper.style6 table.alt tbody tr td {
				border-color: #dfdfdf;
			}

			.wrapper.style6 input[type="submit"],
			.wrapper.style6 input[type="reset"],
			.wrapper.style6 input[type="button"],
			.wrapper.style6 button,
			.wrapper.style6 .button {
				box-shadow: inset 0 0 0 2px #dfdfdf;
				color: #2E3842;
			}

				.wrapper.style6 input[type="submit"]:hover,
				.wrapper.style6 input[type="reset"]:hover,
				.wrapper.style6 input[type="button"]:hover,
				.wrapper.style6 button:hover,
				.wrapper.style6 .button:hover {
					background-color: rgba(0, 0, 0, 0.0375);
				}

				.wrapper.style6 input[type="submit"]:active,
				.wrapper.style6 input[type="reset"]:active,
				.wrapper.style6 input[type="button"]:active,
				.wrapper.style6 button:active,
				.wrapper.style6 .button:active {
					background-color: rgba(0, 0, 0, 0.1);
				}

			@media screen and (max-width: 736px) {

				.wrapper.style6 .features li {
					border-top-color: #dfdfdf;
				}

			}